form {
    padding-top: 100px;
    padding-left: 700px;
    color: #e8e8e8;
}

body {
    background-color:rgb(57, 51, 144);
}

.titulo {
    color: #e8e8e8;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    padding-top: 150px;
    padding-left: 650px;
}

.subtitulo {
    color: #aaa8a8;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    padding-left: 830px;
}
a{
    text-decoration: none;
    color: #e8e8e8;
}
a:hover{
    color:rgb(91, 243, 243);
}