body{
    background-color: rgb(57, 51, 144);
    color: #e8e8e8;;
    font-family: sans-serif;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-image: url('../images/novo.jpg');
}

.bordabaixo{
    border-bottom: solid honeydew;
    font-family: 'Bebas Neue', cursive;
}

p{
    font-size: 35px;
}

.fontemenor{
    font-size: 20px;
}
.bordaB {
    border: solid white 2px;
  }
